<div class="row">
  <div class="col-xs-12">
    <img
      [src]="(collectionState | async).collections[id].imagePath"
      alt="{{ (collectionState | async).collections[id].name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ (collectionState | async).collections[id].name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage collection <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditCollection()">Edit collection</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteCollection()">Delete collection</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ (collectionState | async).collections[id].description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let design of (collectionState | async).collections[id].designs">
        {{ design.name }} {{design.size}} {{ design.amount }}
      </li>
    </ul>
  </div>
</div>
