

 <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">


<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Goldy Topman Clothing</h1>
        <h2 class="masthead-subheading mb-0">. . .you imagine, we create</h2>
        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-sm-4 col-md-3 flex-last">
                <h3>Special Offer for Summer</h3>
            </div>
            <div class="col-sm col-md flex-first">
        <div class="media">
          <img class="d-flex mr-3 img-thumbnail align-self-center" src="assets/images/tshirt5.jpg" alt="polo" class="img-circle">
          <div class="media-body">
            <h2 class="mt-0">Tshirt<span class="badge badge-danger">iRepJesus</span> <span class="badge badge-pill badge-default"></span></h2>
            <p class="hidden-xs-down">A special design that helps you represent your favourite words and expression of heart</p>
          </div>
               
        </div>
      </div>
      </div>
        <div class="row row-content align-items-center">
            <div class="col-sm-4 col-md-3">
                <h3>This Month's Promotions</h3>
            </div>
            <div class="row col-sm col-md flex-last">
      <div class="media align-items-center">
        
        <div class="mdeia-body">
          <h2 class="mt-0">Summer discount<span class="badge badge-danger">NEW</span> </h2>
          <p class="hidden-xs-down">Here is our latest desgin just as simple as you want it to look like </p>
        </div>
        <img class="d-flex mr-3 img-thumbnail align-self-center"  src="assets/images/polo1.jpg" alt="tshirt" class="img-circle">
      </div>
      
      </div>
        </div>
      
        <div class="row row-align-items-center">
            <div class="col-sm-4 col-md-3 flex-last">
                <h3>Meet Our CEO</h3>
            </div>
            <div class="col-sm col-md flex-first">
        <div class="media">
          <img class="d-flex mr-3 img-thumbnail align-self-center" src="assets/images/ceo.jpg"  alt="Bosun Gold">
          <div class="mdeia-body">
            <h2>Bosun Gold</h2>
              <h4>Chief Executive Officer</h4>
              <p class="hidden-xs-down offset-2">Our CEO, Bosun Gold, efficient and effective in his  work with so much ethusiasm for the company </p>
          </div>
        </div>
    </div>
    </div>

