

 <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">


<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Goldy Topman Clothing</h1>
        <h2 class="masthead-subheading mb-0">. . .you imagine, we create</h2>
        <a routerLink="/collections" class="btn btn-primary btn-xl rounded-pill mt-5">Create Your Design</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  <div class="jumbotron">
    <div class='container'>
        <div class="row">
            <div class="col-12">
                <carousel class='text-center'>
                    <slide>
                        <h3>Stiching Machine</h3>
                      <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/mac1.jpg?alt=media&token=3578e003-3e60-4d6f-a444-ddbc8775da28" alt="First slide">
                      <div class="carousel-caption d-none d-md-block">
                       
                        <p>Our Machine stiches so perfectly you can see the brilliance.</p>
                      </div>
                    </slide>
                    <slide>
                      <h3>Birthday T-Shirt</h3>
                      <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/bday22.jpg?alt=media&token=b5ad54fb-769c-407d-b499-f3dba72c78fe"alt="Second slide">
                      <div class="carousel-caption d-none d-md-block">
                        <p class="hidden-xs-down">It is all about your birthday ! We are here to make it happen </p>
                      </div>
                    </slide>
                    <slide>
                        <h3>Polo Shirt</h3>
                      <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/polo4.jpg?alt=media&token=6c3c0297-880e-40eb-a170-3be0a0221524"alt="Second slide">
                      <div class="carousel-caption d-none d-md-block">
                        <p>Our three coloured simple Polo shirt just rocks for your events and programs</p>
                      </div>
                    </slide>
                    <slide>
                        <h3>Joining Machine</h3>
                      <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/mac3.jpg?alt=media&token=de2004d7-4b38-416f-a1fc-523f1e570969" alt="Third slide">
                      <div class="carousel-caption d-none d-md-block">
                        <p>Here comes the giant that join in an unimaginable way. Try us and see</p>
                      </div>
                    </slide>
                    <slide>
                        <h3>Weaving Machine</h3>
                      <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/mac5.jpg?alt=media&token=f4c16f12-138e-488b-b57c-da37955115fd" alt="Third slide">
                      <div class="carousel-caption d-none d-md-block">
                        <p>This machine does anything weaving in a perfect way!</p>
                      </div>
                    </slide>
                  </carousel>
                </div>
        </div>
    </div>
</div> 

    <!-- <div class="container">
        
        <div class="row row-align-items-center">
            <div class="col-sm-4 col-md-3 flex-last">
                <h3>Special Offer for Summer</h3>
            </div>
            <div class="col-sm col-md flex-first">
        <div class="media">
          <img class="d-flex mr-3 img-thumbnail align-self-center" src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/tshirt5.jpg?alt=media&token=b990c955-4340-423f-a81b-e3687a1fff1c" 
          alt="TShirt " class="img-circle">
          <div class="media-body">
            <h2 class="mt-0">Tshirt<span class="badge badge-danger">iRepJesus</span> <span class="badge badge-pill badge-default"></span></h2>
            <p class="hidden-xs-down">Repping your Hero in your own style</p>
          </div>
         
        </div>
      </div>
      </div>
      <div class="row row-align-items-center">
            <div class="col-sm-4 col-md-3">
                <h3>This Month's Promotions</h3>
            </div>
            <div class="row col-sm col-md flex-last">
      <div class="media align-items-center">
        
        <div class="mdeia-body">
          <h2 class="mt-0">Summer discount<span class="badge badge-danger">NEW</span> </h2>
          <p class="hidden-xs-down">Mouth watering offer just for you in this season of summer</p>
        </div>
        <img class="d-flex mr-3 img-thumbnail align-self-center"  src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/sweatshirt.jpg?alt=media&token=f4393b1c-c773-4aba-ab07-35f254361c77" 
        alt="Sweatshirt " class="img-circle">
      </div>
      
      </div>
        </div>
      
        <div class="row row-align-items-center">
            <div class="col-sm-4 col-md-3 flex-last">
                <h3>Meet Our CEO</h3>
            </div>
            <div class="col-sm col-md flex-first">
        <div class="media">
          <img class="d-flex mr-3 img-thumbnail align-self-center" src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/ceo.jpg?alt=media&token=ff63abb9-89af-4a78-8135-a0e5a3159480" 
           alt="Bosun Gold" class="img-circle">
          <div class="mdeia-body">
            <h2>Bosun Gold</h2>
              <h4>Chief Executive Officer</h4>
              <p class="hidden-xs-down offset-2">Our CEO, Bosun Gold, efficient and effective in his  work with so much ethusiasm for the company </p>
          </div>
        </div>
    </div> 
    </div>
 -->
