<!-- <div class="row">
    <div class="col-xs-5">
      <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item"
      style="cursor: pointer"
      *ngFor ="let design of (shoppingListState | async).designs; let i = index"
      (click)="onEditItem(i)">
      {{ design.name | uppercase }}  {{ design.size | uppercase }} ({{ design.amount }})
      </a>
    </ul>
   
    </div>
  </div> -->

<div class="text-center">
  <h2 class="jumbotron">Shopping List</h2>
</div>
<div class="row">
  <div class="col-md-7">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
        <a class="list-group-item"
        style="cursor: pointer"
        *ngFor="let design of (shoppingListState | async).designs; let i = index"
        (click)="onEditItem(i)">
        {{ design.name | uppercase }}  {{ design.size | uppercase }} ({{ design.amount }})
        </a>
      </ul>
  </div>
  <div class="col-md-5">
    <app-shoppings-list></app-shoppings-list> 
  </div>
</div>