<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSignup(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" name="email" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            class="form-control">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
      </form>
    </div>
  </div>


  <div class="jumbotron">
      <div class='container'>
          <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                  <carousel class='text-center'>
                      <slide>
                          <h3>Our African Native</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/native1.jpg?alt=media&token=ee2b7355-f809-4c3b-9a4c-63202dbc1a8e" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                         
                          <p>We make African Natives to your taste</p>
                        </div>
                      </slide>
                      <slide>
                        <h3>Sweat Shirt</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/plain7.jpg?alt=media&token=c107d875-69f4-49d3-ad34-8482492ebec7"alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                          <p class="hidden-xs-down">It is all about your birthday ! We are here to make it happen </p>
                        </div>
                      </slide>
                      <slide>
                          <h3>African Native</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/native.jpg?alt=media&token=4a777796-ab64-45c3-a4e9-c356d8526109"alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                          <p>Our three coloured simple Polo shirt just rocks for your events and programs</p>
                        </div>
                      </slide>
                      <slide>
                          <h3>Classic T-Shirt</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/plain8.jpg?alt=media&token=698be5a3-e6fd-49a6-ad49-386a3c59543f" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                          <p>Here comes the giant that join in an unimaginable way. Try us and see</p>
                        </div>
                      </slide>
                      <slide>
                          <h3>Sport</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/sport00.jpg?alt=media&token=8b0fc071-c22a-4bd1-9d55-0c71665888cb" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                          <p>Our sport classics is just all you want</p>
                        </div>
                      </slide>
                    </carousel>
                  </div>
          </div>
      </div>
  </div> 
  
  