<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row"> 
             <div class="col-sm-12 col-lg-12">
                <h1 class="page-header">About Us
                <small>It's Nice to Meet You!</small>
              </h1>
             <p>Goldy Topman is a leading brand when it comes to garment making. With about 10 years of quality delivery and relentless service, we have captured the heart of many both locally and internationally. 
             Our variety of products which include; tee shirts, collar neck, sweat shirts, varsity jackets, hoods, tracksuits, sport wears, corporate shirts, African native wears, uniforms and lots more are 
             highly in demand by those who know the value of what they get.
             Our products are reflections of our quality. Our core values are;<br>
            Integrity<br>
            Quality <br>
            Competence<br>
            Creativity<br>
            Professionalism <br>
            Our services cut across all sectors from government establishments, religious bodies, sporting clubs, institutions as well as individuals, whatever style, we are sure to deliver</p> 
        </div>

        <!-- Team Members Row -->
        <h2 class="page-header">Our Team</h2>
            <img class="rounded-circle img-fluid d-block mx-auto" src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/ceo.jpg?alt=media&token=ff63abb9-89af-4a78-8135-a0e5a3159480" alt="">
            <h3>Olatubosun Gold
              <small>(CEO)</small>
            </h3>
            <p class="hidden-xs-down">Is a seasoned entrepreneur and skillful business man.His innovative idea is in no doubt remarkable.
             He has B.sc Actuarial science from University of Lagos and M.sc Finance from University of Lagos.  
             He also has several certifications among which areHe is very creative and leads the team with great leadership qualities</p>
            <img class="rounded-circle img-fluid d-block mx-auto" src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/blessing.jpg?alt=media&token=74bb9a38-738c-4188-a2ad-cb4f368c7f39" alt="">
            <h3>Blessing Gold
            <small>(CDO)</small>
            </h3>
            <p class="hidden-xs-down">Gold Blessing is the co founder of Goldy Topman. She is a great stylist and She has B.sc Biochemistry 
            from Federal University of Technology, Minna. She also has M.sc Biochemistry from Obafemi Awolowo University, Ife. She also
            has professional certificates among which includes:</p>
        </div>
     </div>
</div>
