<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" name="email" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            class="form-control">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
      </form>
    </div>
  </div>
  
  <div class="jumbotron">
      <div class='container'>
          <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                  <carousel class='text-center'>
                      <slide>
                          <h3>Simple Polo</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/polo_new.jpg?alt=media&token=9fc056a6-b2cb-496f-874e-6d36973a0c2c" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                         
                          <p>Our three colour Polo shirt rocks jsut as you like it</p>
                        </div>
                      </slide>
                      <slide>
                        <h3>Our designs</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/plain19.png?alt=media&token=449db09d-866f-4a87-9ea2-568c3c0d553a"alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                          <p class="hidden-xs-down">Caption our collections and make your choice today</p>
                        </div>
                      </slide>
                      <slide>
                          <h3>First Birthday</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/bdays6.jpg?alt=media&token=ec82dd56-00b7-45d7-8c0f-c8aedd2b58d0"alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                          <h2>We know how to make your birthday rock</h2>
                        </div>
                      </slide>
                      <slide>
                          <h3>Experience TShirt</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/thsirtExp.jpg?alt=media&token=2faf2542-b709-4216-b100-9336330d0f39" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                          <h2>We help made Experience 11 a success</h2>
                        </div>
                      </slide>
                      <slide>
                          <h3>Sport Vest</h3>
                        <img class='img-main-carousel' src="https://firebasestorage.googleapis.com/v0/b/shoppinglist-fe6ae.appspot.com/o/sport7.jpg?alt=media&token=2fe2e859-4b52-4a1d-8fa6-689f45ad6371" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                          <p>Sport makes so much sesnse with us involved</p>
                        </div>
                      </slide>
                    </carousel>
                  </div>
          </div>
      </div>
  </div> 
  
  
  