.main-container{
    min-height: 800px;
    margin-bottom: 20px;
}

.img-main.carousel{
    max-height: 300px;
    margin: 0 auto;
}

input.ng-invalid.ng-dirty{
    border: 1px solid red;
}

button:hover,a.btn:hover{
    cursor: pointer;
   }