<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <form #shoppingForm="ngForm" (ngSubmit)="onSubmit(shoppingForm)">
              <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="shoppingService.selectedDesign.$key">  
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="name">Name</label>
                    <input
                      class="form-control"
                      name="name" #name="ngModel" [(ngModel)] = "shoppingService.selectedDesign.name" required>
                  </div>
              <div class="col-sm-3 form-group">
                <label for="size">Size</label>
                <input
                  
                  class="form-control"
                  placeholder="X,S,M,L,XL"
                  name="size"
                  #size="ngModel" [(ngModel)] = "shoppingService.selectedDesign.size"
                  required>
              </div>
              <div class="col-sm-2 form-group">
                <label for="amount">Amount</label>
                <input
                  type="number"
                  id="amount"
                  class="form-control"
                  name="amount"
                  #amount="ngModel" [(ngModel)] = "shoppingService.selectedDesign.amount"
                  required
                  pattern="^[1-9]+[0-9]*$">
              </div>
            </div>
           <div class="form-group">
            <button class="btn btn-success" type="submit" [disabled] ="!shoppingForm.valid"><i class="fa fa-floppy-o"></i> Submit </button>
            <button class="btn btn-primary" type="button" (click)="resetForm(shoppingForm)" ><i class="fa fa-repeat"></i> Reset </button>
           </div>
          </form>
        </div>
      </div>

     